In [1]:
import sys
sys.path.append('/media/tj/zhijia-main/Langchain_shen')
from database.db import ChromaVS

successful load embedding model

In [2]:
config = {
        "client": "persistent",
        "path": "/media/tj/zhijia-main/Langchain_shen/py_data_cdb",
    }
chroma_vs = ChromaVS(config)

successful load embedding model

In [25]:
ddl_list = [
    '''
    CREATE TABLE public.assets (
        asset_id serial4 NOT NULL,
        company_id int4 NULL,
        description varchar(255) NULL,
        purchase_date date NULL,
        "cost" numeric NULL,
        "condition" varchar(100) NULL,
        CONSTRAINT assets_pkey PRIMARY KEY (asset_id),
        CONSTRAINT assets_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)
    );
    ''',
    '''
    CREATE TABLE public.companies (
        company_id serial4 NOT NULL,
        "name" varchar(255) NULL,
        address varchar(255) NULL,
        industry varchar(100) NULL,
        revenue int8 NULL,
        founded_year int4 NULL,
        CONSTRAINT companies_pkey PRIMARY KEY (company_id)
    );
    ''',
    '''
    CREATE TABLE public.contracts (
        contract_id serial4 NOT NULL,
        company_id int4 NULL,
        start_date date NULL,
        end_date date NULL,
        value numeric NULL,
        terms text NULL,
        CONSTRAINT contracts_pkey PRIMARY KEY (contract_id),
        CONSTRAINT contracts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)
    );
    ''',
    '''
    CREATE TABLE public.debts (
        debt_id serial4 NOT NULL,
        company_id int4 NULL,
        amount numeric NULL,
        issue_date date NULL,
        maturity_date date NULL,
        interest_rate float8 NULL,
        CONSTRAINT debts_pkey PRIMARY KEY (debt_id),
        CONSTRAINT debts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)
    );
    ''',
    '''
    CREATE TABLE public.departments (
        department_id serial4 NOT NULL,
        company_id int4 NULL,
        "name" varchar(255) NULL,
        budget numeric NULL,
        manager_id int4 NULL,
        "location" varchar(255) NULL,
        CONSTRAINT departments_pkey PRIMARY KEY (department_id),
        CONSTRAINT departments_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id),
        CONSTRAINT departments_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.employees(employee_id)
    );
    ''',
    '''
    CREATE TABLE public.employees (
        employee_id serial4 NOT NULL,
        company_id int4 NULL,
        "name" varchar(255) NULL,
        "position" varchar(100) NULL,
        salary numeric NULL,
        hire_date date NULL,
        CONSTRAINT employees_pkey PRIMARY KEY (employee_id),
        CONSTRAINT employees_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)
    );
    ''',
    '''
    CREATE TABLE public.projects (
        project_id serial4 NOT NULL,
        department_id int4 NULL,
        "name" varchar(255) NULL,
        start_date date NULL,
        end_date date NULL,
        budget numeric NULL,
        CONSTRAINT projects_pkey PRIMARY KEY (project_id),
        CONSTRAINT projects_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id)
    );
    ''',
    '''
    CREATE TABLE public.transactions (
        transaction_id serial4 NOT NULL,
        asset_id int4 NULL,
        "date" date NULL,
        amount numeric NULL,
        "type" varchar(50) NULL,
        CONSTRAINT transactions_pkey PRIMARY KEY (transaction_id),
        CONSTRAINT transactions_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(asset_id)
    );
    '''
]
from tqdm import tqdm
for it in tqdm(ddl_list):
    chroma_vs.add_ddl(ddl=it)

  0%|          | 0/8 [00:00<?, ?it/s]Add of existing embedding ID: c87bb213-7125-5b5c-9545-ae7ec244e9a3
Insert of existing embedding ID: c87bb213-7125-5b5c-9545-ae7ec244e9a3
 12%|█▎        | 1/8 [00:00<00:00,  8.63it/s]Add of existing embedding ID: c9f9fcc0-cda9-5d3a-b16b-c69e89072a7d
Insert of existing embedding ID: c9f9fcc0-cda9-5d3a-b16b-c69e89072a7d
 25%|██▌       | 2/8 [00:00<00:00,  7.94it/s]Add of existing embedding ID: bc69009c-fc27-54a9-bd01-23f878a865aa
Insert of existing embedding ID: bc69009c-fc27-54a9-bd01-23f878a865aa
 38%|███▊      | 3/8 [00:00<00:00,  8.05it/s]Add of existing embedding ID: 51a20995-deaa-5ce0-ba4a-8dc754efafd5
Insert of existing embedding ID: 51a20995-deaa-5ce0-ba4a-8dc754efafd5
 50%|█████     | 4/8 [00:00<00:00,  8.41it/s]Add of existing embedding ID: 959b9224-45b8-5703-9cd1-0a84ba46d253
Insert of existing embedding ID: 959b9224-45b8-5703-9cd1-0a84ba46d253
 62%|██████▎   | 5/8 [00:00<00:00,  8.62it/s]Add of existing embedding ID: 3be5191a-67e5-566c-a13e-522fd2dbd805
Insert of existing embedding ID: 3be5191a-67e5-566c-a13e-522fd2dbd805
 75%|███████▌  | 6/8 [00:00<00:00,  8.47it/s]Add of existing embedding ID: d6a696c8-1cfc-50b9-aca7-c7ff93e39f34
Insert of existing embedding ID: d6a696c8-1cfc-50b9-aca7-c7ff93e39f34
 88%|████████▊ | 7/8 [00:00<00:00,  8.64it/s]Add of existing embedding ID: 814e75b1-8290-5412-af02-e05a36824087
Insert of existing embedding ID: 814e75b1-8290-5412-af02-e05a36824087
100%|██████████| 8/8 [00:00<00:00,  8.64it/s]

In [26]:
document_list = [
    '''
    The unit of the revenue column in the companies table is RMB
    ''',

    '''
    The unit of the price column in the contract is ten thousand yuan
    ''',

    '''
    In the debt table, each company_id may correspond to multiple debit id information
    ''', 

    '''
    In the debt statement, the unit of the total amount column is ten thousand yuan
    ''',

    '''
    In the employee table, the correspondence between position positions is as follows: "Position 0" corresponds to the chairman, "Position 1" corresponds to the department head, "Position 2" corresponds to the team leader, "Position 3" corresponds to ordinary employees, and "Position 4" corresponds to outsourced employees
    ''',

    '''
    In the project table, the unit of budget budget is yuan
    ''',

    '''
    In the transaction table, the unit of total amount is yuan
    '''
]
for it in tqdm(document_list):
    chroma_vs.add_documentation(document=it)

  0%|          | 0/7 [00:00<?, ?it/s]Add of existing embedding ID: 37a2f497-40d0-5c6f-8352-550881773650
Insert of existing embedding ID: 37a2f497-40d0-5c6f-8352-550881773650
Add of existing embedding ID: 92a01ab0-184d-57ce-8b18-db94f1094a30
Insert of existing embedding ID: 92a01ab0-184d-57ce-8b18-db94f1094a30
 29%|██▊       | 2/7 [00:00<00:00, 10.93it/s]Add of existing embedding ID: 1de3d3ce-50c8-55d7-90fc-a4ad8c9baf76
Insert of existing embedding ID: 1de3d3ce-50c8-55d7-90fc-a4ad8c9baf76
Add of existing embedding ID: 644f622d-c5e5-5e95-a343-1790a40c9c8a
Insert of existing embedding ID: 644f622d-c5e5-5e95-a343-1790a40c9c8a
 57%|█████▋    | 4/7 [00:00<00:00, 10.74it/s]Add of existing embedding ID: 20598165-00a0-5626-98eb-4cefbbdfecb6
Insert of existing embedding ID: 20598165-00a0-5626-98eb-4cefbbdfecb6
Add of existing embedding ID: c68a7b3a-0129-5796-9c89-d51a159c2554
Insert of existing embedding ID: c68a7b3a-0129-5796-9c89-d51a159c2554

In [ ]:

answer_list = [
    '''
    select e.employee_id
    from employees e 
    where e.company_id in (
    select a.company_id
    from transactions t 
    join assets a on t.asset_id = a.asset_id 
    join companies c on a.company_id = c.company_id 
    group by a.company_id 
    having sum(t.amount) > 9995
    );
    ''',
]
question_list = []
question_list = [
    '''
    List the names of employees in companies with transaction amounts above 9995
    ''',
],
for it in tqdm(zip(question_list,answer_list)):
    chroma_vs.add_question_sql(question=it[0], sql=it[1])

1it [00:00,  3.85it/s]

In [11]:
chroma_vs.get_training_data()

,id,question,content,training_data_type
0,7f189ff0-defd-5746-8bfa-b8e970788f2a-sql,[\n List the names of employees in companie...,\n select e.employee_id\n from employees...,sql
0,3be5191a-67e5-566c-a13e-522fd2dbd805,None,\n CREATE TABLE public.employees (\n ...,ddl
1,51a20995-deaa-5ce0-ba4a-8dc754efafd5,None,\n CREATE TABLE public.debts (\n deb...,ddl
2,814e75b1-8290-5412-af02-e05a36824087,None,\n CREATE TABLE public.transactions (\n ...,ddl
3,959b9224-45b8-5703-9cd1-0a84ba46d253,None,\n CREATE TABLE public.departments (\n ...,ddl
4,bc69009c-fc27-54a9-bd01-23f878a865aa,None,\n CREATE TABLE public.contracts (\n ...,ddl
5,c87bb213-7125-5b5c-9545-ae7ec244e9a3,None,\n CREATE TABLE public.assets (\n as...,ddl
6,c9f9fcc0-cda9-5d3a-b16b-c69e89072a7d,None,\n CREATE TABLE public.companies (\n ...,ddl
7,d6a696c8-1cfc-50b9-aca7-c7ff93e39f34,None,\n CREATE TABLE public.projects (\n ...,ddl
0,1de3d3ce-50c8-55d7-90fc-a4ad8c9baf76,None,"\n In the debt table, each company_id may c...",documentation
1,20598165-00a0-5626-98eb-4cefbbdfecb6,None,"\n In the employee table, the correspondenc...",documentation
2,37a2f497-40d0-5c6f-8352-550881773650,None,\n The unit of the revenue column in the co...,documentation
3,644f622d-c5e5-5e95-a343-1790a40c9c8a,None,"\n In the debt statement, the unit of the t...",documentation
4,9a586ca7-bf9d-506f-be1c-c2323b354ddb,None,"\n In the transaction table, the unit of to...",documentation
5,c68a7b3a-0129-5796-9c89-d51a159c2554,None,"\n In the project table, the unit of budget...",documentation
6,cd217d6d-89da-5eae-aa19-263584efa7b2,None,the price column in the contracts table have b...,documentation

In [10]:
chroma_vs.add_documentation(document="the price column in the contracts table have been divide 10000, when compare with constant please multiply 10000 to recovery")

'cd217d6d-89da-5eae-aa19-263584efa7b2'

In [9]:
chroma_vs.remove_training_data(id="5eb86eb1-315c-572f-a80e-3905a28a0635",type="doc")

True

In [ ]:
ddl_list = chroma_vs.get_related_ddl(question="When did the last contract exceeding 20 million occur, what industry is this company in, and what is its name?")
ddl_list

['\n    CREATE TABLE public.contracts (\n        contract_id serial4 NOT NULL,\n        company_id int4 NULL,\n        start_date date NULL,\n        end_date date NULL,\n        value numeric NULL,\n        terms text NULL,\n        CONSTRAINT contracts_pkey PRIMARY KEY (contract_id),\n        CONSTRAINT contracts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)\n    );\n    ',
 '\n    CREATE TABLE public.assets (\n        asset_id serial4 NOT NULL,\n        company_id int4 NULL,\n        description varchar(255) NULL,\n        purchase_date date NULL,\n        "cost" numeric NULL,\n        "condition" varchar(100) NULL,\n        CONSTRAINT assets_pkey PRIMARY KEY (asset_id),\n        CONSTRAINT assets_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(company_id)\n    );\n    ',
 '\n    CREATE TABLE public.companies (\n        company_id serial4 NOT NULL,\n        "name" varchar(255) NULL,\n        address varchar(255) NULL,\n        industry varchar(100) NULL,\n        revenue int8 NULL,\n        founded_year int4 NULL,\n        CONSTRAINT companies_pkey PRIMARY KEY (company_id)\n    );\n    ']

In [ ]:
document_list = chroma_vs.get_related_documentation(question="When did the last contract exceeding 20 million occur, what industry is this company in, and what is its name?")
document_list

['\n    The unit of the price column in the contract is ten thousand yuan\n    ',
 '\n    The unit of the revenue column in the companies table is RMB\n    ',
 '\n    In the debt statement, the unit of the total amount column is ten thousand yuan\n    ']